{% extends "base/base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Lobby {% endblock title %}</title>
    <link rel="stylesheet" href="css.css">

    
</head>

<body>
    
    {% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
        <center>
            <h1>Bienvenido a los deportes</H1>
            <br>
            <br>
            <img src="{% static 'images/i.png' %}" alt="" width="100" height="100">
        </center>
    {% endblock content %}
</body>
</html>